name: Build Windows Executable

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
        cache: 'pip'

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Build Script
      run: |
        python build.py

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Windows-Binaries
        path: dist/
